data/*
data/quora_data_prepro.json
tst.py
data/quora_data_prepro.h5
*.pyc
*/__pycache__/*
runs/*
runs
ignore.txt
.vscode
.vscode/*
logs
logs/*
save
save/*
samples
samples/*
result
result/*
data/
*/__pycache__/*
